
.game{
    display: flex;
    justify-content: center;
}

.myCanvas {
    position: absolute;
    margin-left: 30vw;
    height: 70vh;
    width: 70vh;
    max-height: 800px;
    max-width: 800px;
    margin-top: 14vh;
    // background-color: lightblue;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}

@media (max-width: 900px) {
    .myCanvas {
        width: 80%;
        height: 80%;
        max-width: 80vw;
        max-height: 80vw;
        margin-left: -40%;
    }
  }

@media (min-width: 1400px) {
    .myCanvas {
        // margin-left: -20vw;
    }
}

