.card-wrapper{ 
    width: 250px;
    background-color: 'white';
    box-shadow: '0 4px 8px 0 rgba(0,0,0,0.2)'; 
    margin:'8px';
}
.card-collection{
    display: 'flex';
    flex-flow: 'row wrap';
    padding: '8px';
    justify-content: 'space-around';}