.card-wrapper{ 
    width: 175px;
    height:250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 8px;
    border-radius:4px;
    
}
.card-content{
    padding: 2px 16px;
    h6{
        color:black;
    };
    h5{
        color: black;
    }
}
.card-collection{
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
    justify-content: space-around;
}