@import '../base/body';

.sidebar {
    height: 80vh; /* Full-height: remove this if you want "auto" height */
    width: 20vw; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 3; /* Stay on top */
    top: 10vh; /* Stay at the top */
    left: 0;
    opacity: .85;
    background-color: white; /* Black */
    text-align: left;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 2px 2px black;
    h3 {
        color: black;
        margin-left: .4rem;
        font-size: 2rem;
        margin-bottom: 5px;
    };
    h3:hover {
        color: grey;
        cursor: default;
    };
    p {
        color: black;
        margin-left: .4rem;
        font-size: 1.4rem;
    };
    p:hover {
        color: grey;
        cursor: default;
    };
}

.sidebar:hover {
    opacity: .9;
}

.sidebarButton {
    position: absolute;
    top: 1vh;
    left: 71vw;
    z-index: 1;
    visibility: hidden;
}

@media only screen and (max-width: $medium) {
    .sidebar {
        margin-left: -70vw;
        width: 70vw;
    }
    .showSidebar {
        -webkit-transition: .8s;
        -moz-transition: .8s;
        -ms-transition: .8s;
        -o-transition: .8s;
        transition: .8s;
        margin-left: 0vw;
    }
    .hideSidebar {
        -webkit-transition: .8s;
        -moz-transition: .8s;
        -ms-transition: .8s;
        -o-transition: .8s;
        transition: .8s;
        margin-left: -70vw;
    }

    .sidebarButton {
        visibility: visible;
    }
    .moveSidebarButton {
        -webkit-transition: .8s;
        -moz-transition: .8s;
        -ms-transition: .8s;
        -o-transition: .8s;
        transition: .8s;
        top: 1vh;
        left: 60vw;
    }
    .moveSidebarButtonBack {
        -webkit-transition: .8s;
        -moz-transition: .8s;
        -ms-transition: .8s;
        -o-transition: .8s;
        transition: .8s;
        top: 1vh;
        left: 71vw;
    }
}