button {
  border-top: 1px solid #343738;
  border-bottom: 1px solid #1A191A;
  border-right: 1px solid #1A191A;
  border-left: 1px solid #343738;
  background-image: radial-gradient(#393e57 5%, #343738 15%, #1A191A 60%);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  border-radius: 4px;
  -webkit-box-shadow: #1A191A 0 1px 0;
  box-shadow: #1A191A 0 1px 0;
  text-shadow: #1A191A 0 1px 0;
  color: #eff6f8;
  font-size: .8rem;
  vertical-align: middle;
  margin: 1px;
  max-height: 2.2rem;
  min-height: 1.4rem;
  min-width: 100px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

button:hover {
  border-top-color: #343738;
  border-left-color: #343738;
  background-image: radial-gradient(#393e57, #343738, #1A191A);
  color: #eff6f8;
}

button:active {
  background-image: radial-gradient(#1A191A, #343738, #393e57);
}

button:focus {
  outline: none;
}

input {
  width: 60%;
  padding: 5px 5px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .2rem;
  font-size: 1rem;
  border: 3px solid #343738;
}

input:focus {
  border: 3px solid #343738;
  outline: none;
  -webkit-box-shadow: 0 0 3pt 2pt #343738;
          box-shadow: 0 0 3pt 2pt #343738;
}

#react-root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: black;
  background-image: radial-gradient(#f5feff, #b6ebf0, #71a2a7);
  height: 100vh;
  min-height: 900px;
  font-size: 14px;
  text-align: center;
  overflow-x: hidden;
}

.overflowHidden {
  overflow-x: hidden;
  width: 100vw;
  z-index: -2;
}

.sidebar {
  height: 80vh;
  /* Full-height: remove this if you want "auto" height */
  width: 20vw;
  /* Set the width of the sidebar */
  position: absolute;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 3;
  /* Stay on top */
  top: 10vh;
  /* Stay at the top */
  left: 2vw;
  background-color: #eff6f8;
  text-align: center;
  border-radius: .4rem;
  -webkit-box-shadow: 10px 10px 50px grey;
          box-shadow: 10px 10px 50px grey;
}

.sidebar h3 {
  color: black;
  margin-left: .4rem;
  font-size: 2rem;
  margin-bottom: 5px;
}

.sidebar h3:hover {
  color: grey;
  cursor: default;
}

.sidebar p {
  color: black;
  margin-left: .4rem;
  font-size: 1.4rem;
}

.sidebar p:hover {
  color: grey;
  cursor: default;
}

.sidebar .select-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh;
}

.sidebar .select-container label {
  color: white;
}

.sidebar:hover {
  -webkit-box-shadow: 12px 12px 75px grey;
          box-shadow: 12px 12px 75px grey;
}

.sidebarButton {
  position: absolute;
  top: 1vh;
  left: 71vw;
  z-index: 1;
  visibility: hidden;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    margin-left: -70vw;
    width: 70vw;
  }
  .showSidebar {
    -webkit-transition: .8s;
    transition: .8s;
    margin-left: 0vw;
  }
  .hideSidebar {
    -webkit-transition: .8s;
    transition: .8s;
    margin-left: -70vw;
  }
  .sidebarButton {
    visibility: visible;
  }
  .moveSidebarButton {
    -webkit-transition: .8s;
    transition: .8s;
    top: 1vh;
    left: 60vw;
  }
  .moveSidebarButtonBack {
    -webkit-transition: .8s;
    transition: .8s;
    top: 1vh;
    left: 71vw;
  }
}

.scene {
  width: 350px;
  height: 200px;
  border-radius: 8px;
  -webkit-perspective: 600px;
          perspective: 600px;
  margin: 10px;
}

.card-wrapper {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}

.card-content h5 {
  font-size: .75rem;
}

.card-wrapper.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-front {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 4px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-back {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  flex-direction: column;
}

.card-back.Map {
  background-image: url("../images/map.jpg");
  background-size: 350px 200px;
}

.card-back.Open {
  background-image: url("../images/open.jpg");
  background-size: 350px 200px;
}

.card-back.Visualize {
  background-image: url("../images/visualize.jpg");
  background-size: 350px 200px;
}

.card-back.Engage {
  background-image: url("../images/engage.jpg");
  background-size: 350px 200px;
}

.card-back.Sustain {
  background-image: url("../images/sustain.jpg");
  background-size: 350px 200px;
}

.card-header {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.card-header h6 {
  color: white;
  font-size: .75rem;
}

.card-front.Map {
  background-image: url("../images/map.jpg");
}

.card-front.Open {
  background-image: url("../images/open.jpg");
}

.card-front.Visualize {
  background-image: url("../images/visualize.jpg");
}

.card-front.Engage {
  background-image: url("../images/engage.jpg");
}

.card-front.Sustain {
  background-image: url("../images/sustain.jpg");
}

.card-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 8px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.question-form {
  height: 80%;
  width: 80%;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  border-top: 1px solid #343738;
  border-bottom: 1px solid #1A191A;
  border-right: 1px solid #1A191A;
  border-left: 1px solid #343738;
  background-image: radial-gradient(#393e57 5%, #343738 15%, #1A191A 60%);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  border-radius: 4px;
  -webkit-box-shadow: #1A191A 0 1px 0;
  box-shadow: #1A191A 0 1px 0;
  text-shadow: #1A191A 0 1px 0;
  color: #eff6f8;
  font-size: .8rem;
  vertical-align: middle;
  margin: 1px;
  max-height: 2.2rem;
  min-height: 1.4rem;
  min-width: 100px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

button:hover {
  border-top-color: #343738;
  border-left-color: #343738;
  background-image: radial-gradient(#393e57, #343738, #1A191A);
  color: #eff6f8;
}

button:active {
  background-image: radial-gradient(#1A191A, #343738, #393e57);
}

button:focus {
  outline: none;
}

input {
  width: 60%;
  padding: 5px 5px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .2rem;
  font-size: 1rem;
  border: 3px solid #343738;
}

input:focus {
  border: 3px solid #343738;
  outline: none;
  -webkit-box-shadow: 0 0 3pt 2pt #343738;
          box-shadow: 0 0 3pt 2pt #343738;
}

.actionPanel {
  height: 40vh;
  /* Full-height: remove this if you want "auto" height */
  width: 20vw;
  /* Set the width of the sidebar */
  position: absolute;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 4vh;
  /* Stay at the top */
  right: 3vw;
  background-color: #eff6f8;
  background-image: url("../images/move-as-one-logo.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 95%;
  background-size: 100px 40px;
  color: #1A191A;
  text-align: left;
  border-radius: .4rem;
  z-index: 3;
  text-align: center;
  -webkit-box-shadow: 10px 10px 50px grey;
          box-shadow: 10px 10px 50px grey;
}

.actionPanel .select-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh;
}

.actionPanel:hover {
  -webkit-box-shadow: 12px 12px 75px grey;
          box-shadow: 12px 12px 75px grey;
}

.actionPanelButton {
  visibility: hidden;
}

@media only screen and (max-width: 1000px) {
  .actionPanel {
    height: 40vh;
    /* Full-height: remove this if you want "auto" height */
    width: 30vw;
    /* Set the width of the sidebar */
    position: absolute;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: -30vw;
    background-color: #23394d;
    text-align: left;
    border-radius: 0;
    border-bottom-left-radius: 1rem;
  }
  .showActionPanel {
    -webkit-transition: .8s;
    transition: .8s;
    margin-right: 30vw;
  }
  .hideActionPanel {
    -webkit-transition: .8s;
    transition: .8s;
    margin-right: -30vw;
  }
  .actionPanelButton {
    visibility: visible;
    position: absolute;
    top: 1vh;
    right: 33vw;
  }
  .moveActionPanelButton {
    -webkit-transition: .8s;
    transition: .8s;
    top: 1vh;
    right: 20vw;
  }
  .moveActionPanelButtonBack {
    -webkit-transition: .8s;
    transition: .8s;
    top: 1vh;
    right: 63vw;
  }
}

.chatPanel {
  height: 40vh;
  /* Full-height: remove this if you want "auto" height */
  width: 20vw;
  /* Set the width of the sidebar */
  position: absolute;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  bottom: 4vh;
  /* Stay at the bottom */
  right: 3vw;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  background-color: #eff6f8;
  -webkit-box-shadow: 10px 10px 50px grey;
          box-shadow: 10px 10px 50px grey;
}

.chatPanel:hover {
  -webkit-box-shadow: 12px 12px 75px grey;
          box-shadow: 12px 12px 75px grey;
}

.messageInput {
  bottom: 1vh;
  position: absolute;
  width: 90%;
  left: 5%;
}

.messageText {
  width: 100%;
  padding: 1vh 2vh;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.messageHistory {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow-y: scroll;
  max-height: 20vh;
}

.message {
  color: black;
  font-size: 1rem;
}

.chatHeader {
  font-size: 1.2rem;
  margin-top: 8px;
  color: #1A191A;
}

.PlayInstructions {
  font-family: 'Cinzel', serif;
}

.PlayInstructions h1 {
  font-size: 1.55em;
}

.PlayInstructions.bottomSquare {
  font-size: .85em;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2vh;
  text-align: left;
  color: white;
}

.PlayInstructions.bottomSquare li {
  padding: 1vh;
}

.PlayInstructions.bottomSquare ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.PlayInstructions.bottomSquare h2 {
  margin-left: 2vw;
}

.PlayInstructions.topSquare {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2vh;
  text-align: left;
  color: white;
}

.PlayInstructions.topSquare p {
  font-size: .85em;
  color: white;
}

.join-game-ball {
  padding: 0;
}

.join-game-ball h4 {
  font-size: 1.4rem;
}

.join-game-ball h5 {
  font-size: 3rem;
}

.join-game-ball h6 {
  font-size: 1.2rem;
}

button {
  border-top: 1px solid #343738;
  border-bottom: 1px solid #1A191A;
  border-right: 1px solid #1A191A;
  border-left: 1px solid #343738;
  background-image: radial-gradient(#393e57 5%, #343738 15%, #1A191A 60%);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  border-radius: 4px;
  -webkit-box-shadow: #1A191A 0 1px 0;
  box-shadow: #1A191A 0 1px 0;
  text-shadow: #1A191A 0 1px 0;
  color: #eff6f8;
  font-size: .8rem;
  vertical-align: middle;
  margin: 1px;
  max-height: 2.2rem;
  min-height: 1.4rem;
  min-width: 100px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

button:hover {
  border-top-color: #343738;
  border-left-color: #343738;
  background-image: radial-gradient(#393e57, #343738, #1A191A);
  color: #eff6f8;
}

button:active {
  background-image: radial-gradient(#1A191A, #343738, #393e57);
}

button:focus {
  outline: none;
}

input {
  width: 60%;
  padding: 5px 5px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .2rem;
  font-size: 1rem;
  border: 3px solid #343738;
}

input:focus {
  border: 3px solid #343738;
  outline: none;
  -webkit-box-shadow: 0 0 3pt 2pt #343738;
          box-shadow: 0 0 3pt 2pt #343738;
}

button {
  border-top: 1px solid #343738;
  border-bottom: 1px solid #1A191A;
  border-right: 1px solid #1A191A;
  border-left: 1px solid #343738;
  background-image: radial-gradient(#393e57 5%, #343738 15%, #1A191A 60%);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  border-radius: 4px;
  -webkit-box-shadow: #1A191A 0 1px 0;
  box-shadow: #1A191A 0 1px 0;
  text-shadow: #1A191A 0 1px 0;
  color: #eff6f8;
  font-size: .8rem;
  vertical-align: middle;
  margin: 1px;
  max-height: 2.2rem;
  min-height: 1.4rem;
  min-width: 100px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

button:hover {
  border-top-color: #343738;
  border-left-color: #343738;
  background-image: radial-gradient(#393e57, #343738, #1A191A);
  color: #eff6f8;
}

button:active {
  background-image: radial-gradient(#1A191A, #343738, #393e57);
}

button:focus {
  outline: none;
}

input {
  width: 60%;
  padding: 5px 5px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .2rem;
  font-size: 1rem;
  border: 3px solid #343738;
}

input:focus {
  border: 3px solid #343738;
  outline: none;
  -webkit-box-shadow: 0 0 3pt 2pt #343738;
          box-shadow: 0 0 3pt 2pt #343738;
}

#react-root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: black;
  background-image: radial-gradient(#f5feff, #b6ebf0, #71a2a7);
  height: 100vh;
  min-height: 900px;
  font-size: 14px;
  text-align: center;
  overflow-x: hidden;
}

.overflowHidden {
  overflow-x: hidden;
  width: 100vw;
  z-index: -2;
}

footer {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.nav-title {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav {
  overflow: hidden;
  height: 10vh;
  width: 100vw;
  background-image: url("../images/yourwisemovesbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-right {
  float: right;
}

button {
  border-top: 1px solid #343738;
  border-bottom: 1px solid #1A191A;
  border-right: 1px solid #1A191A;
  border-left: 1px solid #343738;
  background-image: radial-gradient(#393e57 5%, #343738 15%, #1A191A 60%);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  border-radius: 4px;
  -webkit-box-shadow: #1A191A 0 1px 0;
  box-shadow: #1A191A 0 1px 0;
  text-shadow: #1A191A 0 1px 0;
  color: #eff6f8;
  font-size: .8rem;
  vertical-align: middle;
  margin: 1px;
  max-height: 2.2rem;
  min-height: 1.4rem;
  min-width: 100px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

button:hover {
  border-top-color: #343738;
  border-left-color: #343738;
  background-image: radial-gradient(#393e57, #343738, #1A191A);
  color: #eff6f8;
}

button:active {
  background-image: radial-gradient(#1A191A, #343738, #393e57);
}

button:focus {
  outline: none;
}

input {
  width: 60%;
  padding: 5px 5px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .2rem;
  font-size: 1rem;
  border: 3px solid #343738;
}

input:focus {
  border: 3px solid #343738;
  outline: none;
  -webkit-box-shadow: 0 0 3pt 2pt #343738;
          box-shadow: 0 0 3pt 2pt #343738;
}

#react-root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: black;
  background-image: radial-gradient(#f5feff, #b6ebf0, #71a2a7);
  height: 100vh;
  min-height: 900px;
  font-size: 14px;
  text-align: center;
  overflow-x: hidden;
}

.overflowHidden {
  overflow-x: hidden;
  width: 100vw;
  z-index: -2;
}

button {
  border-top: 1px solid #343738;
  border-bottom: 1px solid #1A191A;
  border-right: 1px solid #1A191A;
  border-left: 1px solid #343738;
  background-image: radial-gradient(#393e57 5%, #343738 15%, #1A191A 60%);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  border-radius: 4px;
  -webkit-box-shadow: #1A191A 0 1px 0;
  box-shadow: #1A191A 0 1px 0;
  text-shadow: #1A191A 0 1px 0;
  color: #eff6f8;
  font-size: .8rem;
  vertical-align: middle;
  margin: 1px;
  max-height: 2.2rem;
  min-height: 1.4rem;
  min-width: 100px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

button:hover {
  border-top-color: #343738;
  border-left-color: #343738;
  background-image: radial-gradient(#393e57, #343738, #1A191A);
  color: #eff6f8;
}

button:active {
  background-image: radial-gradient(#1A191A, #343738, #393e57);
}

button:focus {
  outline: none;
}

input {
  width: 60%;
  padding: 5px 5px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .2rem;
  font-size: 1rem;
  border: 3px solid #343738;
}

input:focus {
  border: 3px solid #343738;
  outline: none;
  -webkit-box-shadow: 0 0 3pt 2pt #343738;
          box-shadow: 0 0 3pt 2pt #343738;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myCanvas {
  position: absolute;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  z-index: -1;
}

.threeContentContainer {
  position: absolute;
  left: 25vw;
  z-index: 2;
  height: 30vh;
  width: 80vh;
  max-width: 800px;
  text-align: center;
  color: #eff6f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.threeContentContainer button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.threeContentContainer h3, .threeContentContainer h2 {
  margin: 2px;
}

.threeContentContainer h1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

@media only screen and (min-width: 0) {
  .myCanvas {
    width: 80vw;
    height: 80vw;
    left: 10vw;
    top: 10vh;
  }
  .threeContentContainer {
    left: 10vw;
    width: 80vw;
    height: 30%;
    top: 60%;
  }
}

@media only screen and (min-width: 500px) {
  .myCanvas {
    width: 400px;
    height: 400px;
    left: 50vw;
    margin-left: -200px;
  }
  .threeContentContainer {
    left: 50vw;
    margin-left: -200px;
    width: 400px;
    height: 30%;
    top: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  .myCanvas {
    left: 50vw;
    top: 50vh;
    margin-top: -300px;
    margin-left: -300px;
    height: 600px;
    width: 600px;
  }
  .threeContentContainer {
    left: 50vw;
    margin-left: -125px;
    width: 250px;
    height: 250px;
    top: 50vh;
    margin-top: -125px;
  }
}

@media (min-width: 1400px) {
  .myCanvas {
    width: 750px;
    height: 750px;
    left: 50vw;
    margin-left: -375px;
    top: 50%;
    margin-top: -375px;
  }
  .threeContentContainer {
    width: 750px;
    left: 50vw;
    margin-left: -150px;
    top: 50vh;
    margin-top: -150px;
    height: 300px;
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */