#react-root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #e4cfcf;
  background: #64b4e4;
  background: linear-gradient(0deg, #64b4e4 0%, #000742 100%);
  height: 100vh;
  font-size: 10px;
  text-align: center;
}

.sidebar {
  height: 80vh;
  /* Full-height: remove this if you want "auto" height */
  width: 20vw;
  /* Set the width of the sidebar */
  position: absolute;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 13vh;
  /* Stay at the top */
  left: 0;
  background-color: white;
  /* Black */
  text-align: left;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.sidebar h3 {
  color: black;
  margin-left: 0.4rem;
  font-size: 2rem;
  margin-bottom: 5px;
}
.sidebar h3:hover {
  color: grey;
  cursor: default;
}
.sidebar p {
  color: black;
  margin-left: 0.4rem;
  font-size: 1.4rem;
}
.sidebar p:hover {
  color: grey;
  cursor: default;
}

.sidebarButton {
  position: absolute;
  top: 0vh;
  left: 71vw;
  z-index: 1;
  visibility: hidden;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    margin-left: -70vw;
    width: 70vw;
  }

  .showSidebar {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    margin-left: 0vw;
  }

  .hideSidebar {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    margin-left: -70vw;
  }

  .sidebarButton {
    visibility: visible;
  }

  .moveSidebarButton {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    top: 2vh;
    left: 60vw;
  }

  .moveSidebarButtonBack {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    top: 0;
    left: 71vw;
  }
}
.scene {
  width: 350px;
  height: 200px;
  border-radius: 8px;
  perspective: 600px;
  margin: 10px;
}

.card-wrapper {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 4px;
}

.card-wrapper.is-flipped {
  transform: rotateY(180deg);
}

.card-front {
  background: white;
  color: black;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back.Map {
  background-image: url("../images/map.jpg");
  background-size: 350px 200px;
}

.card-back.Open {
  background-image: url("../images/open.jpg");
  background-size: 350px 200px;
}

.card-back.Visualize {
  background-image: url("../images/visualize.jpg");
  background-size: 350px 200px;
}

.card-back.Engage {
  background-image: url("../images/engage.jpg");
  background-size: 350px 200px;
}

.card-back.Sustain {
  background-image: url("../images/sustain.jpg");
  background-size: 350px 200px;
}

.card-header h6 {
  color: white;
  font-size: 16px;
}

.card-header.Map {
  background-image: url("../images/map.jpg");
  background-size: 350px 200px;
}

.card-header.Open {
  background-image: url("../images/open.jpg");
  background-size: 350px 200px;
}

.card-header.Visualize {
  background-image: url("../images/visualize.jpg");
  background-size: 350px 200px;
}

.card-header.Engage {
  background-image: url("../images/engage.jpg");
  background-size: 350px 200px;
}

.card-header.Sustain {
  background-image: url("../images/sustain.jpg");
  background-size: 350px 200px;
}

.card-collection {
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  justify-content: space-around;
}

#react-root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #e4cfcf;
  background: #64b4e4;
  background: linear-gradient(0deg, #64b4e4 0%, #000742 100%);
  height: 100vh;
  font-size: 10px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.nav-title {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav {
  overflow: hidden;
  height: 10vh;
  width: 100vw;
  background-image: url("../images/yourwisemovesbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-right {
  float: right;
}

#react-root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #e4cfcf;
  background: #64b4e4;
  background: linear-gradient(0deg, #64b4e4 0%, #000742 100%);
  height: 100vh;
  font-size: 10px;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
}

.myCanvas {
  position: absolute;
  top: 14vh;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  z-index: -1;
}

.threeContentContainer {
  position: absolute;
  left: 25vw;
  top: 39vh;
  z-index: 2;
  height: 30vh;
  width: 80vh;
  max-width: 800px;
  text-align: center;
}

@media only screen and (min-width: 0) {
  .myCanvas {
    width: 80vw;
    height: 80vw;
    left: 10vw;
    top: 16vh;
  }

  .threeContentContainer {
    left: 10vw;
    width: 80vw;
    height: 30%;
    top: 60%;
  }
}
@media only screen and (min-width: 500px) {
  .myCanvas {
    width: 400px;
    height: 400px;
    left: 50vw;
    margin-left: -200px;
  }

  .threeContentContainer {
    left: 50vw;
    margin-left: -200px;
    width: 400px;
    height: 30%;
    top: 60%;
  }
}
@media only screen and (min-width: 1000px) {
  .myCanvas {
    left: 60vw;
    top: 14vh;
    margin-left: -300px;
    height: 600px;
    width: 600px;
  }

  .threeContentContainer {
    left: 60vw;
    margin-left: -125px;
    width: 250px;
    height: 250px;
    top: 14vh;
    margin-top: 175px;
  }
}
@media (min-width: 1400px) {
  .myCanvas {
    width: 750px;
    height: 750px;
    left: 60vw;
    margin-left: -375px;
    top: 12vh;
  }

  .threeContentContainer {
    width: 750px;
    left: 60vw;
    margin-left: -150px;
    top: 12vh;
    margin-top: 225px;
    height: 300px;
    width: 300px;
  }
}

/*# sourceMappingURL=main.css.map */
