$font-stack:    Helvetica, sans-serif;

$primary-color: black;

//Screen Sizes
$small: 500px;
$medium: 1000px;
$large: 1400px;

#react-root {
  height: 100vh; 
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    background: rgb(100,180,228);
    height: 100vh;
    min-height: 900px;
    font-size: 10px;
    text-align: center;
  }

  button {
    border-top: 1px solid #9bd6fa;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid #9bd6fa;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    vertical-align: middle;
    }
 button:hover {
    border-top-color: #28597a;
    border-left-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
 button:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }