$neutral-text: rgb(239, 246, 248);
$neutral-background: rbg(43, 70, 95);
$neutral-border: rgb(39, 63, 87); 
$neutral-text-hover: rgb(230, 233, 233);
$neutral-background-hover: rgb(52, 55, 56);
$neutral-border-hover: rgb(8, 6, 20);
$neutral-gradient-center: rgb(85,106,126);
$neutral-shadow-hover: rgba(52, 55, 56, 0.3);
$brand-med-blue: rgb(41,116,185);
$button-background: rgb(60, 84, 107);
$button-shadow: rgba(0,0,0,0.5);
$button-shadow-hover: rgba(0,0,0,0.6);


button {
    border: 1px solid $neutral-background-hover;
    background-color: $button-background;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 7px 0px $button-shadow;
    -moz-box-shadow: 4px 4px 7px 0px $button-shadow;
    box-shadow: 4px 4px 7px 0px $button-shadow;
    text-shadow: $neutral-border 0 1px 0;
    color: $neutral-text;
    font-size: .9rem;
    font-weight: 600;
    vertical-align: middle;
    margin: 1px;
    max-height: 2.6rem;
    min-height: 1.6rem;
    min-width: 125px;
    padding: 5px 10px;
    overflow: hidden;
    }

 button:hover {
   -webkit-box-shadow: 5px 5px 7px 0px $button-shadow-hover;
   -moz-box-shadow: 5px 5px 7px 0px $button-shadow-hover;
    box-shadow: 5px 5px 7px 0px $button-shadow-hover;
    background-color: $neutral-gradient-center;
    color: $neutral-text;
    transition: all 0.2s;
    }

 button:active {
    background-color: $neutral-gradient-center;
    }

 button:focus {
    outline: none;
 }

 input{
      width: 60%;
      padding: 5px 5px;
      margin: 4px 0;
      margin-left: 5px;
      box-sizing: border-box;
      border-radius: .2rem;
      font-size: 1rem;
      border: 1px solid $neutral-background-hover;
  }

  input:focus {
   border: 1px solid $neutral-background-hover;
   outline: none;
   box-shadow: 0 0 3pt 2pt $neutral-shadow-hover;
}